<h2>VDSG</h2>

<p>The Vienna Data Science Group is a loose collective of people interested in Data Science in all its forms.</p>
<p>We collect, share and present information on technical methods, applications, social impact and creative uses of Data Science.</p>
<p>We meet about once per month at the <a href="http://metalab.at">Metalab</a>.</p>

<h3>Aims</h3>
<ul>
  <li>Build a community</li>
  <li>Share knowledge</li>
  <li>Develop novel applications</li>
</ul>

<p>To get in touch, please email <a href="mailto:contact@vdsg.at">contact@vdsg.at</a>.</p>

